<?xml version="1.0" encoding="utf-8"?>
<config>
	<params  addpath="/administrator/components/com_gcalendar/elements">
		<param name="google_apps_domain" type="text" default="" size="100"
			label="Google Apps Domain" description="The Google Apps domain to get the calendar data from." />
		<param name="timezone" type="googletimezones" default="" label="Time Zone"
			description="The global timezone for GCalendar." />
	</params>
</config>
