body {
	font-family: Tahoma, Arial, sans-serif;
}

td, p {
	font-size: 13px;
}

.content_table {
	border: 1px solid black;
	border-collapse: collapse;
	margin: 5px 0px 5px 0px;
}

.content_table th,.content_table  td
	{
	border: 1px solid #aaaaaa;
	padding: 2px 15px 2px 15px;
	vertical-align: middle;
}

.content_table th {
	background-color: #E8E8E8;
}