<?xml version="1.0" encoding="utf-8"?>
<config>
	<params addpath="/administrator/components/com_gcalendar/elements">
		<param name="google_apps_domain" type="text" default="" size="100"
			label="Google Apps Domain" description="The Google Apps domain to get the calendar data from." />
		<param name="timezone" type="googletimezones" default=""
			label="Time Zone" description="The global timezone for GCalendar." />
		<param name="loadJQuery" type="radio" default="yes" label="Load JQuery"
			description="jQuery is required by this component The only reason not to load it is if it has already been loaded manually or by another module.">
			<option value="no">No</option>
			<option value="yes">Yes</option>
		</param>
		<param name="toolTipText" type="textarea2" default="" label="Event tooltip"
			description="Here you can customize the appearance of the event tooltip."
			rows="5" cols="50">
			<content>&lt;p&gt;{startdate} {starttime} {dateseparator} {enddate}
				{endtime}&lt;br/&gt;{description}&lt;/p&gt;</content>
			<description>
				Here you can modify the event tooltip. The following
				attributes of an event are provided:&lt;br&gt;
				{title},
				{description},
				{startdate}, {starttime}, {dateseparator}, {enddate},
				{endtime}
				{where}, {backlink}, {link}, {maplink}, {calendarname},
				{calendarcolor}
			</description>
		</param>
	</params>
</config>
