# This .htaccess file should be saved in the root of the web site
RewriteEngine on

#*******************************************************************************************
# Various rewrite rules which redirect requests back to Google
# They fix the links for the Add Google Calendar button, Add to Calendar, event details, 
# and print button.
#*******************************************************************************************

RewriteRule ^(calendar/render.*)$ http://www.google.com/$1 [R,NE,NC]
RewriteRule ^(calendar/event.*)$ http://www.google.com/$1 [R,NE,NC]
RewriteRule (print_preview.*)$ http://www.google.com/calendar/$1 [R,NE,NC]

#*******************************************************************************************
# Optional rewrite rule to get the images directly from Google
# NOTE: Using the "images" subfolder method allows you to edit the images to match your 
#       site's theme
#*******************************************************************************************

# This rule assumes the script is saved in a subfolder named mygooglecal
# If the path is different for you, you will need to update this rule.

#RewriteRule ^googlecal/(images/.*)$ http://www.google.com/calendar/$1
