.fc-header tr,.fc-header td,.gcalendar-table tr,.gcalendar-table td,#gc_gcalendar_view_toggle_status
	{
	border: 0px;
}

.gcalendar-table td {
	padding-bottom: 5px;
	padding-right: 5px;
}

.ui-datepicker {
	z-index: 1003 !important; /* must be > than popup editor (1002) */
}

.dialogWithDropShadow {
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.ui-widget-content { background: none !important; }
.ui-dialog-titlebar { display:none !important; }